@import "components/variables";


@font-face {
	font-family: 'Fira Code';
	src: url('./components/fonts/FiraCode-Medium.eot');
	src: url('./components/fonts/FiraCode-Medium.eot?#iefix') format('embedded-opentype'),
	url('./components/fonts/FiraCode-Medium.woff') format('woff'),
	url('./components/fonts/FiraCode-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}



* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font: 14px 'Lato', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: $background-color;
	color: whitesmoke;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
	&.lightbox-opened {
		overflow: hidden;

	}
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//font-size: 0;
	display: flex;
}


nav.aside {
	display: flex;
	width: 300px;
	background: $nav-background-color;
	box-shadow: inset -16px 0px 25px -20px rgba(0, 0, 0, 0.2);
	height: 100vh;
	color: whitesmoke;
	flex-direction: column;
	text-align: center;
	font-size: 0.95rem;

	& .item.brand {
		padding: 40px;
		& h1 > a {
			color: inherit;
			font-size: 1.5rem;
			transition: all $transition-duration;
			&:before {
				transition: all $transition-duration;
				content: '[';
				margin-right: 10px;
				color: $dark-teal-color;
				display: inline-block;
				transform: translateX(-10px) scale(0.8);
				opacity: 0;
			}
			&:after {
				transition: all $transition-duration;
				content: ']';
				display: inline-block;
				margin-left: 10px;
				color: $dark-teal-color;
				opacity: 0;
				transform: translateX(10px) scale(0.8);
			}
			&:hover:before {
				opacity: 1;
				transform: translateX(0) scale(1);
			}
			&:hover:after {
				opacity: 1;
				transform: translateX(0) scale(1);
			}
			&:hover {
				cursor: pointer;
				color: $light-teal-color;
			}
		}
	}
	& ul {
		list-style: none;
		padding: 0;
		margin: 0;
		& li {
			transition: all $transition-duration;
			display: block;

			border-bottom: 2px solid rgba(245, 245, 245, 0.03);
			&:first-of-type {
				border-top: 2px solid rgba(245, 245, 245, 0.03);
			}
			&:hover {
				cursor: pointer;
				background: $background-color;
			}
			& a {
				transition: all $transition-duration;
				display: inline-block;
				width: 100%;
				padding: 20px;
				color: $link-color;
				&:hover {
					color: $link-color-hover;
				}
			}
		}
	}
}

span.slash {
	font-size: 2.7rem;
	margin: 0 10px;
	opacity: 0.5;
}

header {
	width: 100%;
	background: $dark-teal-color;
	padding: 45px;
	& h2 {
		font-weight: 100;
		text-transform: uppercase;
	}
}

header.current-page {
	max-height: 124px;
}

code {
	font-family: 'Fira Code', monospace;
	text-transform: none;
	vertical-align: text-bottom;
}



.container {
	padding: 40px;
	margin: 0 auto;
}


.view-wrapper {
	flex: 1;
}

.view {
	padding: 40px;
}



.wrapper {
	transition: all 0.3s;
	&.lightbox-opened, .menu-opened {
		filter: blur(15px);
	}
}

.fade-enter-active, .fade-leave-active {
	transform-origin: top right;
	transition: opacity .5s, filter 0.7s;
}
.fade-enter, .fade-leave-active {
	transform-origin: left top;
	opacity: 0;
	filter: blur(5px);
}

.slide-heading-enter-active, .slide-heading-leave-active {
	transition: opacity .5s, transform 0.8s;
}

.slide-heading-enter, .slide-heading-leave-active {
	opacity: 0;
	transform: translateX(10px);

}
