@font-face {
  font-family: 'Fira Code';
  src: url("./components/fonts/FiraCode-Medium.eot");
  src: url("./components/fonts/FiraCode-Medium.eot?#iefix") format("embedded-opentype"), url("./components/fonts/FiraCode-Medium.woff") format("woff"), url("./components/fonts/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Geomanist';
  src: url("./components/fonts/Geomanist-Regular.eot");
  src: url("./components/fonts/Geomanist-Regular.eot?#iefix") format("embedded-opentype"), url("./components/fonts/Geomanist-Regular.woff") format("woff"), url("./components/fonts/Geomanist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

h3 {
  font-family: 'Geomanist', 'Lato', 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase; }

body {
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #343838;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300; }
  body.lightbox-opened {
    overflow: hidden; }

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke; }

nav.aside {
  z-index: 100;
  transition: all 0.3s ease-in;
  position: fixed;
  display: flex;
  width: 300px;
  background: #2c2f2f;
  box-shadow: inset -16px 0px 25px -20px rgba(0, 0, 0, 0.2);
  height: 100%;
  color: whitesmoke;
  flex-direction: column;
  text-align: center;
  font-size: 0.95rem; }
  nav.aside .item.brand {
    padding: 40px; }
    nav.aside .item.brand h1 > a {
      color: inherit;
      display: inline-block;
      font-size: 1.5rem;
      transition: all 0.3s; }
      nav.aside .item.brand h1 > a:before {
        transition: all 0.3s;
        content: '[';
        margin-right: 10px;
        color: #005f6b;
        display: inline-block;
        transform: translateX(-10px) scale(0.8) rotate(-25deg);
        opacity: 0; }
      nav.aside .item.brand h1 > a:after {
        transition: all 0.3s;
        content: ']';
        display: inline-block;
        margin-left: 10px;
        color: #005f6b;
        opacity: 0;
        transform: translateX(10px) scale(0.8) rotate(25deg); }
      nav.aside .item.brand h1 > a:hover:before {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0deg); }
      nav.aside .item.brand h1 > a:hover:after {
        opacity: 1;
        transform: translateX(0) scale(1) rotate(0deg); }
      nav.aside .item.brand h1 > a:hover {
        cursor: pointer;
        color: #00b4cc;
        transform: scale(1.1); }
  nav.aside ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0; }
    nav.aside ul li {
      transition: all 0.3s;
      display: block;
      border-bottom: 2px solid rgba(245, 245, 245, 0.03); }
      nav.aside ul li:hover {
        cursor: pointer;
        background: #343838; }
      nav.aside ul li:first-of-type {
        border-top: 2px solid rgba(245, 245, 245, 0.03); }
      nav.aside ul li a {
        transition: all 0.3s;
        display: inline-block;
        width: 100%;
        padding: 20px;
        color: #008c9e; }
        nav.aside ul li a:hover {
          color: #00b4cc; }
  nav.aside .theme-chooser select {
    padding: 5px;
    color: black; }
  nav.aside.closed {
    transform: translateX(-300px); }
  nav.aside.opened {
    transform: translateX(0); }

span.slash {
  font-size: 2.7rem;
  margin: 0 10px;
  opacity: 0.5; }

header {
  width: 100%;
  background: #005f6b;
  padding: 45px; }
  header h2 {
    margin-top: 0;
    font-weight: 100;
    text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Geomanist', 'Lato', 'Roboto', sans-serif;
  text-transform: uppercase; }

h3 {
  padding-left: 10px;
  border-left: 5px solid #005f6b; }

h4 {
  text-transform: none; }

header.current-page {
  max-height: 124px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.39); }

code {
  font-family: 'Fira Code', monospace;
  text-transform: none;
  vertical-align: text-bottom; }

.container {
  padding: 40px;
  width: 100%;
  max-width: 1000px; }

.view-wrapper {
  transition: all 0.3s ease-in;
  flex: 1;
  padding-left: 300px; }
  .view-wrapper.menu-opened {
    filter: blur(6px) grayscale(90%);
    transform: scale(1.03) translateX(300px);
    width: 100vw;
    height: 98vh;
    overflow: hidden; }
    .view-wrapper.menu-opened .menu-overlay {
      position: fixed;
      z-index: 10000;
      display: block;
      width: 100%;
      height: 100%; }
  .view-wrapper.menu-closed {
    padding-left: 0; }

.view {
  padding: 40px; }

.menu-overlay {
  display: none; }

#wrapper {
  transition: all 0.3s;
  display: flex; }
  #wrapper.lightbox-opened {
    filter: blur(15px); }

body.dark-theme {
  transition: all 0.3s ease-in; }

body.light-theme {
  transition: all 0.3s ease-in;
  background: #dedede; }
  body.light-theme .current-page {
    transition: all 0.3s ease-in;
    color: #dedede;
    background: #008c9e; }
  body.light-theme .view {
    color: black; }
  body.light-theme nav.aside li:hover {
    background: #dedede; }
    body.light-theme nav.aside li:hover a {
      color: #005f6b; }
  body.light-theme span.language:before {
    background: black; }

.mobile-only {
  display: none !important; }

.fade-enter-active, .fade-leave-active {
  transform-origin: top right;
  transition: opacity .5s, filter 0.7s; }

.fade-enter, .fade-leave-active {
  transform-origin: left top;
  opacity: 0;
  filter: blur(5px); }

.fade-move {
  transition: transform 0.4s; }

.slide-heading-enter-active, .slide-heading-leave-active {
  transition: opacity .5s, transform 0.8s; }

.slide-heading-enter, .slide-heading-leave-active {
  opacity: 0;
  transform: translateX(10px); }

@keyframes logo {
  0% {
    transform: scale(1) rotate(0deg); }
  25% {
    transform: scale(1.05) rotate(-5deg); }
  50% {
    transform: scale(1.05) rotate(5deg); }
  100% {
    transform: scale(1) rotate(0deg); } }
@media screen and (max-width: 720px) {
  .lightbox-image {
    height: calc(100vh - 120px) !important;
    top: 0 !important; }

  nav.aside {
    transform: translateX(-300px);
    overflow-y: scroll;
    padding-bottom: 30px; }

  .view-wrapper {
    padding-left: 0; }

  .container {
    width: 100%;
    padding: 20px; }

  img {
    max-width: 100%; }

  .current-page {
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }
    .current-page span.slash {
      font-size: 1.8rem;
      margin-right: 0;
      margin-left: 4px; }
    .current-page h2 {
      font-size: 1.5rem; }

  .lightbox-image h2 {
    font-size: 1rem; }
  .lightbox-image .description {
    font-size: 0.9rem; }

  header.current-page {
    height: 58px;
    padding: 10px;
    line-height: 40px;
    z-index: 9999; }

  p {
    line-height: 1.90rem; }

  .view {
    margin-top: 58px; }

  h2 {
    font-size: 1.4rem; }

  h3 {
    font-size: 1.3rem; }

  .mobile-only {
    display: block !important; }

  i.mobile-only {
    display: inline-block !important; }

  html {
    font-size: 85%; } }

/*# sourceMappingURL=app.css.map */
