// ========= COULEURS ========= //

$dark-grey-color: rgb(52,56,56);

$dark-teal-color: rgb(0,95,107);

$medium-teal-color: rgb(0,140,158);
$light-teal-color: rgb(0,180,204);
$bright-teal-color: rgb(0,223,252);

$link-color: $medium-teal-color;
$link-color-hover: $light-teal-color;


$background-color: $dark-grey-color;
$nav-background-color: rgb(44, 47, 47);

// ========= TRANSITIONS ========= //

$transition-duration: 0.3s;

